<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYao9vKo0atXO-4pq-LDzIr70ZQ5BZuTw</string>
	<key>GCM_SENDER_ID</key>
	<string>819484688563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moataz.FurnitureApp</string>
	<key>PROJECT_ID</key>
	<string>furnitureapp-25bf5</string>
	<key>STORAGE_BUCKET</key>
	<string>furnitureapp-25bf5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819484688563:ios:2cc8d2c4f6245f16f430c6</string>
</dict>
</plist>